<% if logged_in? %>
  <div class="home-wrap">
    <div class="home-upper">
      <div class="home-upper-left">
        <%= render 'shared/user_info' %>
      </div>
      <div class="home-upper-right">
        <%= render 'shared/micropost_form' %>
      </div>
    </div>
    <div class="microposts-wrap">
      <h3>最近の投稿</h3>
      <%= render 'shared/many_microposts' %>
      <%= paginate @microposts %>
    </div>
    
  </div>
<% else %>
  <div class="top-wrapper">
  <div class="container-top">
    <h1>Future^me へようこそ！</h1>
    <h2>未来の"自分"からアドバイスをGETしよう！</h2>
    <div class="btn-wrapper">
　  <a><%= link_to "新規登録はこちら", signup_path, class: "btn1 signup" %></a>
    <a><%= link_to "お試しログイン", login_path, class: "btn1 signup-test" %></a>
    <p>or sign up with</p>
    <a class="btn1 twitter" href="#">
      <span class="fa fa-twitter"></span>
      Twitterで登録
    </a>
    </div>
  </div>
  </div>
<% end %>
