<% if logged_in? %>
  <div class="home-upper">
    <div class="home-upper-left">
      <%= render 'shared/user_info' %>
    </div>
    <div class="home-upper-right">
      <%= render 'shared/micropost_form' %>
    </div>
  </div>
  <div class="microposts-wrap " style="padding-top: 120px;">
    <div class="text-center">
      <h3>最近の投稿</h3>
    </div>
    <%= render 'shared/many_microposts2' %>
    <%= paginate @microposts %>
  </div>
  
<% else %>
  <div class="top-wrapper">
  <div class="container-top">
    <h1>Future^me へようこそ！</h1>
    <h2>未来の"自分"からアドバイスをGETしよう！</h2>
    <div class="btn-wrapper">
　  <a><%= link_to "新規登録はこちら", signup_path, class: "btn1 signup" %></a>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.hidden_field :email, {value: 'test@testuser1.com'} %>
      <%= f.hidden_field :password, {value: 'password'} %>
      <%= f.submit "簡単ログイン", class: "btn1 signup-test" %>
    <% end %>
    <p>or sign up with</p>
    <a class="btn1 twitter" href="#">
      <span class="fa fa-twitter"></span>
      Twitterで登録
    </a>
    </div>
  </div>
  </div>
<% end %>
