<% provide(:title, "ログイン") %>

<div class="container form-heading ">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %> 
        <div class="card">
          <div class="card-header">  
          <h1>ログイン</h1>
          </div>
          <div class="card-body">
            <%= f.label :email, "email" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password, "password" %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>次回以降ログインの省略</span>
            <% end %>
            <div class="text-right">
            <%= f.submit "ログイン", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
    </div>
    <p>新規登録は<%= link_to "こちら", signup_path %>から！</p>
    
    </div>
    
  </div>
</div>
