<% provide(:title, 'All users') %>
<div class="users-wrap">
<div class="text-center">
<h2>ユーザー一覧</h2>
</div>
<%= search_form_for @q do |f| %>
  <div class="col-12" style="padding-bottom: 50px;">
  <%= f.label :user_name, "ユーザー"%>
  <%= f.search_field :name_cont, class:"form-control",placeholder: "ユーザー名"  %><br>

  <%= f.label :投稿カテゴリー %><br>
  <%= f.radio_button :user_category_eq, '', checed: true %>指定なし
  <%= f.radio_button :user_category_eq, 1 %>大学生活前半
  <%= f.radio_button :user_category_eq, 2 %>大学生活後半
  <%= f.radio_button :user_category_eq, 3 %>就活中<br>
  <%= f.radio_button :user_category_eq, 4 %>社会人ルーキー
  <%= f.radio_button :user_category_eq, 5 %>社会人ミドル
  <%= f.radio_button :user_category_eq, 6 %>その他

  <div class="float-right">
  <%= f.submit "検索", class: "btn btn-info" %>
  </div>
  </div>
  <div class="btn btn-light">
    <%= sort_link(@q, :created_at, "登録順並びかえ") %>
  </div>
<% end %>
  <% @users.each do |user| %>
    
    <div class="card mb-3" style="max-width: 540px; ">
      <div class="row no-gutters">
        <div class="col-md-3">
        <div class="card-body">
          <% if user.image?%>
          <%= link_to((image_tag user.image.url, :size =>'140x140' , style: "border-radius:10px;" ), user )%>
          <% else %>
          <a href="/users/<%= user.id%>"><img src="<%="/user_images/#{user.image_name}"%>" width="140" height="140", style="border-radius:10px;"></a>
          <% end %>
          </div>
        </div> 
        <div class="col-md-9">
          <div class="card-body", style="margin-left: 30px;">
            <h5 class="card-title"><%= link_to user.name, user %></h5>
            <p class="card-text"><%= render partial: 'shared/user_category_search', locals: { user: user} %></p>
            <!-- 以下DRY化する必要あり -->
            <% user ||= current_user %>
            <div class="stats">
              <a href="<%= following_user_path(user) %>">
                <strong id="following" class="stat">
                  <%= user.following.count %>
                </strong>
                フォロー
              </a>
              <a href="<%= followers_user_path(user) %>">
                <strong id="followers" class="stat">
                  <%= user.followers.count %>
                </strong>
                フォロワー
              </a>
            </div>
　　　　　　　<!-- DRY化する必要あり -->
            <p class="card-text"><small class="text-muted"><%= user.created_at.strftime("%Y-%m-%d ")%>から利用しています。</small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @users %>
</div>