<% provide(:title, @title) %>
<div class="users-wrap">
<div class="row">
  <div class="col-5">
      <% if @user.image?%>
      <%= link_to((image_tag @user.image.url, :size =>'200x200', style: "border-radius:10px;"), @user )%>
      <% else %>
      <a href="/users/<%= @user.id%>"><img src="<%="/user_images/#{@user.image_name}"%>" width="200" height="200", style="border-radius:10px;"></a>
      <% end %>
      </div>
    <div class="col-7">
    <h2><%= @user.name%></h2>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
<%= link_to "戻る", @user, class: "btn btn-success w-75 mt-2" %> 
  </div>
  </div>
</div>

<div class="users-wrap">
  <div class="text-center" style="padding-top: 20px;">
    <h3><%= @title %></h3>
  </div>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
    
        <div class="card mb-3" style="max-width: 540px; ">
          <div class="row no-gutters">
            <div class="col-md-3">
              <% if user.image?%>
              <%= link_to((image_tag user.image.url, :size =>'130x140'), user )%>
              <% else %>
              <a href="/users/<%= user.id%>"><img src="<%="/user_images/#{user.image_name}"%>" width="130" height="140"></a>
              <% end %>
            </div> 
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title"><%= link_to user.name, user %></h5>
                <% user_categorys = {1=>"大学1~2年", 2=>"大学2~3年", 3=>"大学3~4年", 4=>"就活中", 5=>"社会人ルーキー", 6=>"社会人ミドル"} %>
                <p class="card-text"><%= user_categorys[user.user_category] %></p>
                <p class="card-text"><small class="text-muted"><%= user.created_at%>から利用しています。</small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </ul>
      <%= paginate @users %>
    <% end %>
</div>

