<% provide(:title, @user.name) %>
<div class="profile">
  <div class="users-wrap">
    <div class="user-left">
      <img src = "<%="/user_images/#{@user.image_name}"%>">
    </div>
    <%= @user.name%>
    
  </div>
</div>
  <div class="microposts-wrap">
    <% if @user.microposts.any? %>
      <h3><%= @user.microposts.count %>件のコメント</h3>
      <%= render 'shared/many_microposts2' %>
      <%= paginate @microposts %>
    <% end %>
  </div>
