<% provide(:title, @user.name) %>
<div class="profile">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="microposts-wrap">
    <% if @user.microposts.any? %>
      <h3><%= @user.microposts.count %>件のコメント</h3>
      <% @microposts.each do |post| %>
        <div class="posts-index-item">
          <div class="post-left">
            <%= gravatar_for @user %>
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
      <% end %>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>