<% provide(:title, @user.name) %>
<div class="users-wrap">
<div class="row">
  <div class="col-5">
    <% if @user == current_user%>
      <% if @user.image?%>
      <%= link_to((image_tag @user.image.url, :size =>'200', style: "border-radius:10px;"), edit_user_path)%>
      <% else %>
      <a href="/users/<%= @user.id%>/edit"><img src="<%="/user_images/#{@user.image_name}"%>" width="200" height="200", style="border-radius:10px;"></a>
      <% end %>
    <% else %>
      <% if @user.image?%>
      <%= link_to((image_tag @user.image.url, :size =>'200x200', style: "border-radius:10px;"), @user )%>
      <% else %>
      <a href="/users/<%= @user.id%>"><img src="<%="/user_images/#{@user.image_name}"%>" width="200" height="200", style="border-radius:10px;"></a>
      <% end %>
    <% end %>
      </div>
    <div class="col-7">
    <h3><%= @user.name%>(<%= @user.user_category %>)</h3>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
<%= render partial:'follow_form', locals: { user: @user} if logged_in? %>
   <% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>" class="btn btn-info w-75 mt-2">チャットルーム</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class: "btn btn-info w-75 mt-2" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path, class: "btn btn-success w-75 mt-2" %> 
  </div>
  </div>
</div>

<div class="microposts-wrap">
  <% if @user.microposts.any? %>
    <div class="text-center" style="padding-top: 20px;">
      <h3><%= @user.microposts.count %>件の投稿</h3>
    </div>
    <%= render 'shared/many_microposts2' %>
    <%= paginate @microposts %>
  <% end %>
</div>


