<% @microposts.each do |micropost| %>
  <div class="card mb-3 " style="max-width: 600px;">
    <div class="card-header text-center">
    <%= render partial: 'shared/user_category_search', locals: { user: micropost.user} %>
      から <%= render partial: 'shared/micropost_category_search', locals: { micropost: micropost} %>への投稿
    </div>
    <div class="row no-gutters">
      <div class="col-md-3">
      <div class="card">
      <div class="post-left">
        <% if micropost.user.image?%>
        <%= link_to((image_tag micropost.user.image.url, :size =>'80x80', style: "border-radius:10px;"), micropost.user )%>
        <% else %>
        <a href="/users/<%= micropost.user.id%>"><img src="<%="/user_images/#{micropost.user.image_name}"%>" width="80" height="80", style="border-radius:10px;"></a>
        <% end %>
        </div>
    <div class="card-body">
      <strong><%= link_to(micropost.user.name, "/users/#{micropost.user.id}") %></strong><br>
      <strong><%=  micropost.user.user_category%></strong><br>
      <a href="<%= followers_user_path(micropost.user) %>">
          <%= micropost.user.followers.count %>
        フォロワー
      </a>
    </div>
    </div>
    </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="">
            <h5 class="card-title">
            <%= raw Rinku.auto_link(render_with_hashtags(micropost.content)) %>
            </h5><br>
            <div class="timestamp text-right">
              <div class="row  justify-content-end">
                <div id="likes_buttons_<%= micropost.id %>">
                <%= render partial: 'likes/like', locals: { micropost: micropost, likes: @likes} %>
                </div>
                <div style="margin-left: 5px;">
                  <a href="<%="/microposts/#{micropost.id}"%>"><i class="fa fa-comment-dots"></i><%= micropost.comments.count%></a>
                </div>
                <div>
              　<%= link_to "詳細", "/microposts/#{micropost.id}", class: "btn-sm btn-success" %>
                <% if current_user?(micropost.user) %>
                <%= link_to "削除", micropost, method: :delete,　data: { confirm: "本当に削除しますか?" }, class: "btn-sm btn-danger", id: 'delete' %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
          <p class="card-text text-right"><small class="text-muted"><%= micropost.created_at.strftime("%Y-%m-%d %H:%M")%>に投稿しました </small></p>
        </div>
        
      </div>
    </div>
    <% if micropost.picture? %>
    <div class="card-footer text-center">
    <%= image_tag micropost.picture.url if micropost.picture? %>
    </div>
    <% end %>
  </div>
<% end %>