<% @microposts.each do |micropost| %>
  <div class="card mb-3 rounded-0" style="max-width: 600px;">
    <div class="card-header text-center">
    <%= micropost.user.user_category %>
      => <%= micropost.micropost_category %>
    </div>
    <div class="row no-gutters">
      <div class="col-md-3">
      <div class="card">
      <div class="post-left">
        <% if micropost.user.image? %>
        <%= image_tag micropost.user.image.url  %>
        <% else %>
        <img src="/user_images/default_user.png", width="100"" height="100">
        <% end %> 
        </div>
    <div class="card-body">
      <h5 ><%= link_to(micropost.user.name, "/users/#{micropost.user.id}") %></h5>  
      <p>(<%=  micropost.user.user_category%>)</p>
      <section class="stats">
        <% user ||= current_user %>
        <div class="stats">
          <a href="<%= followers_user_path(micropost.user) %>">
            <strong id="followers" class="stat">
              <%= micropost.user.followers.count %>
            </strong>
            フォロワー
          </a>
        </div>
      </section>
    </div>
    </div>
    </div>
      <div class="col-md-9">
        <div class="card-body">
          <div class="">
            <h5 class="card-title">
            <%= raw Rinku.auto_link(render_with_hashtags(micropost.content)) %>
            </h5><br>
            <div class="timestamp text-right">
              <div class="row  justify-content-end">
                <div id="likes_buttons_<%= micropost.id %>">
                <%= render partial: 'likes/like', locals: { micropost: micropost, likes: @likes} %>
                </div>
                <div>
                  <a href="<%="/microposts/#{micropost.id}"%>"><i class="fa fa-comment-dots"></i><%= micropost.comments.count%></a>
                </div>
                <div>
              　<%= link_to "詳細", "/microposts/#{micropost.id}", class: "btn-sm btn-success" %>
                <% if current_user?(micropost.user) %>
                <%= link_to "削除", micropost, method: :delete,　data: { confirm: "本当に削除しますか?" }, class: "btn-sm btn-danger", id: 'delete' %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
          <p class="card-text text-right"><small class="text-muted"><%= micropost.created_at.strftime("%Y-%m-%d %H:%M")%> </small></p>
        </div>
        
      </div>
    </div>
    <% if micropost.picture? %>
    <div class="card-footer text-center">
    <%= image_tag micropost.picture.url if micropost.picture? %>
    </div>
    <% end %>
  </div>
<% end %>