<%= form_for(@micropost_form, {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-controll">
    <%= f.text_area :content, class: "form-controll col-12",style: "border-radius:10px; border-color:#acabab;", id: 'content', rows: "4", placeholder: "過去の自分にアドバイスをつぶやこう！...                       #ハッシュタグ　リンク（http//...）" %>
  </div>
  <div class="text-center" style="color: rgb(120, 120, 120);" >
  <h5>投稿したい相手のカテゴリー</h5>  
    <%= f.radio_button :micropost_category, :大学生活前半 %>
    <%= f.label :大学生活前半, class: "job_type_label" %>
    <%= f.radio_button :micropost_category, :大学生活後半 %>
    <%= f.label :大学生活後半, class: "job_type_label" %>
    <%= f.radio_button :micropost_category, :就活中 %>
    <%= f.label :就活中, class: "job_type_label" %><br>
    <%= f.radio_button :micropost_category, :社会人ルーキー %>
    <%= f.label :社会人ルーキー, class: "job_type_label" %>
    <%= f.radio_button :micropost_category, :社会人ミドル %>
    <%= f.label :社会人ミドル, class: "job_type_label" %>
    <%= f.radio_button :micropost_category, :その他, checked: true %>
    <%= f.label :その他, class: "job_type_label" %>
  </div>
    <%= f.file_field :picture, class: "btn btn-light float-right w-100 mt-2 ", accept: 'image/jpeg,image/gif,image/png' %>
    <%= f.submit "投稿", class: "btn btn-info float-right w-100 mt-2 " %>
    </span>
<% end %>


<script type="text/javascript">
  $('#micropost_picture').bind('change', function() { 
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルのサイズが5MBを超えています。サイズを小さくしてしてください。');
    }
  });
</script>