<div class="">
<% if @user.image?%>
<%= link_to((image_tag @user.image.url, :size =>'130x130', style: "border-radius:10px;"), @user )%>
<% else %>
<a href="/users/<%= @user.id%>"><img src="<%="/user_images/#{@user.image_name}"%>" width="130" height="130", style="border-radius:10px;"></a>
<% end %>
<p><%= current_user.name %></p>

<%= link_to "プロフィール", current_user %><br>
<%= pluralize(current_user.microposts.count, "micropost") %></div>
<section class="stats">
  <%= render 'shared/stats' %>
</section>