<div class="">
<% if @user.image?%>
<%= image_tag @user.image.url, :size =>'120x120' %>
<% else %>
<img src = "<%="/user_images/#{@user.image_name}"%>" width="120"" height="120">
<% end %>
<p><%= current_user.name %></p>

<%= link_to "プロフィール", current_user %><br>
<%= pluralize(current_user.microposts.count, "micropost") %></div>