<h1>トークルーム</h1>
<div class="col-8">
<h4>参加者 =>
<% @entries.each do |e| %>
  <a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a>
<% end %></h4>


<% if @messages.present? %>

  <% @messages.each do |m| %>
  <div class="card">
  <div class="card-body">
  <div class="row">
  <div class="col-3">
  <% if m.user.image?%>
  <%= link_to((image_tag m.user.image.url, :size =>'50x50', style: "border-radius:10px;"), m.user )%>
  <% else %>
  <a href="/users/<%= m.user.id%>"><img src="<%="/user_images/#{m.user.image_name}"%>" width="50" height="50", style="border-radius:10px;"></a>
  <% end %><br>
  <small><a href="/users/<%= m.user_id %>"><%= m.user.name %></a>さん</small>
  </div>
  <div class="col-9">
   <strong><%= m.content %></strong><br>
   <small class="text-muted text-right"><%= m.created_at.strftime("%Y-%m-%d %H:%M")%>にコメントしました。 </small>
   <% if m.user == current_user %>
   <%= link_to '削除', message_path(m.id), class: "btn btn-danger float-right", method: :delete, remote: true %>
   <% end %>
  </div>
  </div>
  </div>
  </div> 

  <% end %>
 
<% else %>
  <h3 class="text-center" style="padding: 100px 0px;">メッセージはまだありません</h3>
<% end %>



<%= form_for @message do |f| %>
  
  <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , class: "form-control", style: "margin-top: 30px;  border-color:#acabab;" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <tr>
  <%= f.submit "投稿する", class: "btn btn-info float-right w-50 mt-2" %>
  </tr>
<% end %>
<tr>
<%= link_to "ユーザー一覧に戻る", users_path, class: "btn btn-success float-right w-50 mt-2"%>
</tr>
</div>