<div class="post-show"> 
  <div class="microposts-wrap">
    <div class="posts-index-item">
      <div class="post-left">
        <%= gravatar_for(@micropost.user) %>
      </div>
      <div class="post-right">
      <div class="post-user-name">
      <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
        <%= @micropost.content %>
      </div>
      <div class="post-time">
        <%= @micropost.created_at %>
      </div>
      <% if current_user?(@micropost.user) %>
        <div class="post-menus">
          <%= link_to("削除", "/microposts/#{@micropost.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
    <%= render 'shared/micropost_form' %>
  </div>
</div>