<div class="home-upper">
  <div class="text-center">
  <h2>投稿の詳細検索</h2>
  </div>
<%= search_form_for @q do |f| %>
  <div class="col-12" style="padding-bottom: 50px;">
  <%= f.label :content, "投稿キーワード"%>
  <%= f.search_field :content_cont_any, class:"form-control",placeholder: "キーワード"  %><br>
  <%= f.label :user_name, "ユーザー"%>
  <%= f.search_field :user_name_cont, class:"form-control",placeholder: "ユーザー名"  %><br>

  <%= f.label :投稿カテゴリー %><br>
  <%= f.radio_button :micropost_category_eq, '', checked: true %>指定なし
  <%= f.radio_button :micropost_category_eq, 1 %>大学生活前半
  <%= f.radio_button :micropost_category_eq, 2 %>大学生活後半
  <%= f.radio_button :micropost_category_eq, 3 %>就活中<br>
  <%= f.radio_button :micropost_category_eq, 4 %>社会人ルーキー
  <%= f.radio_button :micropost_category_eq, 5 %>社会人ミドル
  <%= f.radio_button :micropost_category_eq, 6 %>その他

  <br>
  <%= f.label :いいねの数 %>
  <%= f.number_field :likes_count_gteq, class:"form-control",placeholder: "いいね数(~以上)"  %>
  <br>
  <div class="float-right">
  <%= f.submit "検索", class: "btn btn-info" %>
  </div>
  </div>
<% end %>

  <div class="row col-10 ">
      <div class="btn btn-light">
        <%= sort_link(@q, :created_at, "投稿順並びかえ") %>
      </div>
      <div class="btn btn-light">
        <%= sort_link(@q, :likes_count, "いいね順並び替え") %>
      </div>
  </div> 
 
    <%= render 'shared/many_microposts2' %>

<%= paginate @microposts %>
</div>