<%= search_form_for @q do |f| %>
  <%= f.label :content, "投稿キーワード" %>
  <%= f.search_field :content_cont %><br>

  <%= f.label :投稿カテゴリー %>
  <%= f.radio_button :micropost_category_eq, '', {:checked => true} %>指定なし
  <%= f.radio_button :micropost_category_eq, 1 %>大学1~2年
  <%= f.radio_button :micropost_category_eq, 2 %>大学2~3年
  <%= f.radio_button :micropost_category_eq, 3 %>大学3~4年
  <%= f.radio_button :micropost_category_eq, 4 %>就活中
  <%= f.radio_button :micropost_category_eq, 5 %>社会人ルーキー
  <%= f.radio_button :micropost_category_eq, 6 %>社会人ミドル

  <br>
  <%= f.label :いいねの数 %>
  <%= f.number_field :likes_count_gteq %>以上
  <br>
  <%= f.submit "検索" %>
　<% end %>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="card">
        <%= sort_link(@q, :created_at, "投稿順") %>
      </li>

      <li class="card">
        <%= sort_link(@q, :likes_count, "いいね順") %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <%= render 'shared/many_microposts2' %>
  </div>
</div>
<%= paginate @microposts %>