<div class="post-show"> 
  <div class="microposts-wrap">
    <div class="posts-index-item">
      <div class="card mb-3" style="max-width: 540px; ">
      <div class="row no-gutters">
        <div class="col-md-3">
          <% if @micropost.user.image?%>
          <%= link_to((image_tag @micropost.user.image.url, :size =>'130x140'), @micropost.user )%>
          <% else %>
          <a href="/users/<%#{@micropost.user.id}%>"><img src="<%="/user_images/#{@micropost.user.image_name}"%>" width="130" height="140"></a>
          <% end %>
        </div> 
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><%= link_to @micropost.user.name, @micropost.user %></h5>
            <% user_categorys = {1=>"大学1~2年", 2=>"大学2~3年", 3=>"大学3~4年", 4=>"就活中", 5=>"社会人ルーキー", 6=>"社会人ミドル"} %>
            <p class="card-text"><%= user_categorys[@micropost.user.user_category] %></p>
            <p class="card-text"><small class="text-muted"><%= @micropost.user.created_at.strftime("%Y-%m-%d")%>から利用しています。</small></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <h3>投稿詳細</h3>
    <%= render 'shared/micropost_show'%>
  </div>
  <div>
    <h4>コメント</h4>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if logged_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, micropost: @micropost } %>
    <% end %>
  </div>
</div>