<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-brand">
        <%= link_to "Future⇀me", root_path, class: "logo1" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="nav_target"
       aria-controls="nav_target" aria-expanded="false" aria-lavel="???"> 
       <span class="navbar-toggler-icon"><span>
      </button>
      <div class="collapse navbar-collapse" id="nav_target">
        <ul class="navbar-nav navbar-right mr-auto">
          <li><%= link_to "Home", root_path, class: "logo2" %></li>
          <% if logged_in? %>
            <li><%= link_to "ユーザー一覧", users_path, class: "logo2" %></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle logo2" data-toggle="dropdown">設定<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール編集", edit_user_path(current_user), class: "logo2" %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete, class: "logo2" %></li>
            </ul>
          </li>
          <% else %>
            <li><%= link_to "Future⇀me？", about_path, class: "logo2" %></li>
            <li><%= link_to "新規登録", signup_path, class: "logo2" %></li>
            <li><%= link_to "ログイン", login_path, class: "logo2" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
