<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= render 'layouts/shim'%>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>
    <%= render 'layouts/header1'%>
      <% if logged_in? %>
      <div class="row no-gutters">
        <div class="col-md-3 d-none d-md-block">
          <%= render 'layouts/sidebar'%>
        </div>
          <div class="col-md-6">
       　   <div class="home-wrap"> 
              <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissible fade show">
                  <%= flash[:notice] %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
      　          </button>
                </div> 
              <% end %>
              <%= yield %>
　　　　　    </div>
          </div>
          <div class="col-md-3 d-none d-md-block">
            <%= render 'layouts/sidebar-right'%>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
  </body>
</html>


